@page "/fornecedor/consulta"

@using AppWeb.Models;
@inject FornecedorDAO fornecedorDAO;

<PageTitle>Fornecedor</PageTitle>

<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Fornecedor</h1>

<a href="/Fornecedor/novo" class="bg-blue-500 text-white px-4 py-2 rounded mb-4 inline-block">Novo Fornecedor</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>RazaoSocial</th>
            <th>NomeFantasia</th>
            <th>CNPJ</th>
            <th>NomeContato</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Website</th>
            <th>Endereco.Rua</th>
            <th>Endereco.Cidade</th>
            <th>Endereco.Bairro</th>
            <th>Endereco.Numero</th>
            <th>Endereco.CEP</th>
            <th>Endereco.Estado</th>

        </tr>
    </thead>
    <tbody>
        @{
            int contador = 1;

            @foreach (var fornecedor in listaFornecedor)
            {
                <tr>
                <td>@fornecedor.Id</td>
                <td>@fornecedor.NomeFantasia</td>
                <td>@fornecedor.CNPJ</td>
                <td>@fornecedor.NomeContato</td>
                <td>@fornecedor.Telefone</td>
                <td>@fornecedor.Email</td>
                <td>@fornecedor.Website</td>
                <td>@fornecedor.Endereco.Numero</td>
                <td>@fornecedor.Endereco.Rua</td>
                <td>@fornecedor.Endereco.Bairro</td>
                <td>@fornecedor.Endereco.Estado</td>
                <td>@fornecedor.Endereco.Cidade</td>
                <td>@fornecedor.Endereco.CEP</td>
                    <td>

                    <a href="/fornecedor/@fornecedor.Id/editar" class="btn btn-sm btn-primary mr-2">
                            <i class="fas fa-edit"></i> Atualizar
                        </a>
                    <a href="/fornecedor/@fornecedor.Id/excluir" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

@code {
    private List<Fornecedor> listaFornecedor = new();

    protected override void OnInitialized()
    {
        CarregarFornecedor();
    }

    private void CarregarFornecedor()
    {
        listaFornecedor = fornecedorDAO.ListarTodos();
    }
}